body {
  width: 100%;
  height: 100vh;
  margin: 0;
  color: burlywood;
  font-size: 20px;
  font-family: Tahoma;
  padding: 20px;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
  opacity: 0.6; 
}

.video-pequeno {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.menu {
  width: 80%;
  background-color: #f5f6f7;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  max-width: 800px;
  opacity: 0.8;
}

hr {
  height: 2px;
  background-color: #deb887;
  border-color: brown;
}

header {
  background: rgba(120, 120, 120, 0.12);
  padding: 18px;
  text-align: center;
}

h1, h2, p {
  margin: 1em auto;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
  margin-top: 40px;
}

.established {
  font-style: italic;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

img {
  width: 10%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.imagem-direita {
  float: right; 
  margin-left: 20px;  /* distância entre a imagem e o texto */
  margin-bottom: 20px;
  text-align: center;
}

.imagem-direita img {
  width: 240px; /* ajuste se quiser */
  display: block;
  margin: 0 auto;
}

.margem-direita {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px; /* espaçamento abaixo da imagem */
}

.legenda {
  font-size: 14px;
  margin-top: 5px;
  color: #444;
}

section {
  margin-top: 100px; 
}

.espacamento {
  margin-top: 350px;
}

.lado-a-lado {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.lado-a-lado img {
  width: 350px;
  display: block;
}

.lado-a-lado figcaption {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.item p {
  margin: 0;
  font-size: 18px;
}

.clear {
  clear: both;
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 30px;
}

input, textarea, select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: #deb887;
  border: 1px solid #deb887;
  color: #ffffff;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
  align-items: center;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #deb887;
  border-color: white;
  min-width: 300px;
}

a {
  color: #deb887;
}
